/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.jasenisto {
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.1);
}

.jasen-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.jasen-menu button {
    font-weight: bold;
    display: block;
    border: none;
    background: none;
    color: #ffffff;
    font-size: 1.1em;
    padding: 0.5em 1.5vw 1em;
    height: 3em;
}

.jasen-menu button:hover {
    background-color: #cecef515;
}

.soittaja {
    display: none;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

#Totti {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.soittaja .sarake {
    width: 50%;
    margin: 10px;
    list-style-position: inside;
    text-align: left;
}

.sarake ul {
    list-style-type: disc;
    margin-bottom: 1.5em;
}

@media screen and (max-width: 600px) {
    .jasenisto {
        border: 0;
    }

    .jasen-menu {
        display: none;
    }

    .soittaja {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border: 2px solid rgba(255, 255, 255, 0.05);
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-bottom: 5px;
    }

    .soittaja .sarake {
        width: calc(100% - 10px);
        margin: 5px;
        list-style-position: inside;
        text-align: justify;
    }

    .soittaja .sarake p {
        width: 100%;
    }
}