/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*Kuvat-sivulle*/

.kuvasailion-sailio {
    background-image: -o-radial-gradient(#00000fe7, #00000fb9, #00000f38, #00000f00);
    background-image: radial-gradient(#00000fe7, #00000fb9, #00000f38, #00000f00);
}

.kuvasailio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: clamp(300px, 95%, 3000px);
    margin: auto
}

.kuvasailio p {
    font-size: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0.3em 100px;
    margin-bottom: 2em;
}

.kuvarivi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%
}

.kuvarivi img {
    padding: 2px;
    width: 33.33%;
}

@media only screen and (max-width: 768px) {
    .kuvasailio {
        -webkit-box-flex: 0;
            -ms-flex: none;
                flex: none;
    }

    .kuvarivi {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}