/*nollaus*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

*,
*::before,
*::after{box-sizing:border-box;}

/*koko roskan setit*/
html, body, button {
    height: 100%;
    font-size: 17px;
    font-family: "Georgia", "Times New Roman", "serif";
    line-height: 1.625;
    color: rgba(248, 246, 241, 0.87);
}

/*taustakuva*/
#aalto-taus {
    background-image: url("media/tausta.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

/*väreilyefekti*/
#vare-taus {
    background: linear-gradient(-45deg, #110e2496, #01011be1, #11101a7e, #1f1e2e4d);
    background-size: 400% 400%;
    animation: gradient 25s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 20% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 20% 50%;
	}
}
/*koko sivun juttuja*/
#koko-sivu {
    height: 100vh;
    overflow-y: scroll;
}

.koko-levy{
    width: 100%;
}

/*ylä- ja alaosan erityisjutut*/
.yla-levy {
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.87) 2%,rgba(0, 0, 0, 0.767) 20%, rgba(22, 22, 26, 0.00));
    padding-top: 0.5em;
    padding-bottom: 1em;
    padding-left: 5px;
    padding-right: 5px;
    height: 3em;
}

.ala-levy {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.767) 15%, rgba(22, 22, 26, 0.05));
    padding-top: 1em;
    padding-bottom: 0.5em;
    position: fixed;
    bottom: 0;
}

.koko-levy .vahan-keski {
    max-width: 1000px;
    margin: auto;
    color: rgb(245, 245, 245);
    overflow: hidden;
}

/*Navin ja footerin linkkien ulkonäöt sekavasti jaoteltuna*/
.ylanavi, footer{
    text-align: center;
    overflow: hidden;
}

.ylanavi {
    display: flex;
    justify-content: space-between;
}

a {
    color: #ffffff;
}

footer a, .ylanavi a {
    transition: transform .7s ease-in-out;
}

.ylanavi a, button.ikoni {
    text-decoration: none;
    font-size: 1.1em;
    /*float: left;
    display: block;*/
    padding-left: 7px;
    padding-right: 7px;
}

footer a {
    display: inline-block;
    width: 30%;
}

.ylanavi a:hover{
    transform: scale(1.05);
}

footer a:hover {
    transform: rotate(360deg);
}

/*navipalkin responsiivinen hampurilainen*/
.ylanavi button.ikoni {
    display: none;
    border: none;
    background: none;
    color: #ffffff;
    width: 100%;
}


button:hover{
    cursor: pointer;
}
/*kun kapea laite*/

@media screen and (max-width: 600px) {
    .ylanavi a {display: none;}
    .ylanavi button.ikoni {
        display: block;
        float: none;
        margin: auto;
    }
}
  
@media screen and (max-width: 600px) {
    .ylanavi.responsiivinen {
        display: block;
        position: relative;
    }
    /*.ylanavi.responsiivinen .i.ikoni {
        position: absolute;
        right: 0;
        top: 0;
    }*/
    .ylanavi.responsiivinen a, .ylanavi.responsiivinen button.ikoni {
        float: none;
        display: block;
        background-color: #01011be1;
        padding-bottom: 0.5em;
    }

    .ylanavi.responsiivinen a:hover,  .ylanavi.responsiivinen button:hover{
        transform: none;
        background-color: #070752b4;
        cursor: pointer;
    }
}


/*varsinainen sitältö*/
#aquaWreck-logo {
    display: block;
    max-width: 1000px;
    margin: auto;
}

.kaksi-palstaa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: auto
}

.palsta {
    margin: 10px;
    width: 50%;
    list-style-position: inside;
    text-align: left;
}

/*kuvalinkit ilmaisevat linkkeyttään*/
.kuvan-taus {
    background-color: #ffffffe1;
}

a:hover {
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
a:hover img {
    opacity: .5;
}

a img {
    vertical-align: bottom;
}

#asiat {
    list-style-type: none;
    text-align: justify;
    padding-bottom: 200px;
}

#asiat img {
    width: 100%;
    margin: auto;
}

#sisalto {
    margin: auto;
    padding-left: 6px;
    padding-right: 6px;
    width: clamp(300px, 80%, 900px); /*Onkohan 400px ok?*/
}

ul {
    list-style-type: none;
    text-align: left;
}

h1 {
    font-size: 2em;
    padding-bottom: 0.05em;
    margin-bottom: 0.2em;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

h2 {
    font-size: 1.4em;
    padding-bottom: 0.3em;
    text-align: left;
}

h3 {
    font-size: 1.2em;
    padding-bottom: 0.2em;
    text-align: left;
}

p {
    padding-bottom: 0.9em;
}

footer a  {
    font-size: 1.8em;
}





/*Levy-sivu
.levy {
    display: flex;
    flex-wrap: nowrap;
}
.levy .sarake {
    width: 50%;
    margin: 10px;
    list-style-position: inside;
    text-align: left;
}
*/