/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*nollaus*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

*,
*::before,
*::after{-webkit-box-sizing:border-box;box-sizing:border-box;}

/*Fontin lataus*/
@font-face {
    font-family: "Crimson Text";
    font-style: normal;
    font-weight: 400;
    src: local("Crimson Text"), local("Crimson-Text"), url("fonts/Crimson_Text/CrimsonText-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "Crimson Text";
    font-style: italic;
    font-weight: 400;
    src: local("Crimson Text"), local("Crimson-Text"), url("fonts/Crimson_Text/CrimsonText-Italic.ttf") format('truetype');
}
@font-face {
    font-family: "Crimson Text";
    font-style: bold;
    font-weight: 600;
    src: local("Crimson Text"), local("Crimson-Text"), url("fonts/Crimson_Text/CrimsonText-SemiBold.ttf") format('truetype');
}

/*koko roskan setit*/
html, body, button {
    height: 100%;
    font-size: 18px;
    font-family: "Crimson Text", serif;
    line-height: 1.625;
    color: rgba(248, 246, 241, 0.87);
}

@media screen and (max-width: 600px) {
    html, body, button {
        font-size: 16px;
    }
}

/*taustakuva*/
#aalto-taus {
    background-image: url("media/tausta.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


/*väreilyefekti*/
#vare-taus {
    background: -o-linear-gradient(135deg, #110e2496, #01011be1, #11101a7e, #1f1e2e4d);
    background: linear-gradient(-45deg, #110e2496, #01011be1, #11101a7e, #1f1e2e4d);
    background-size: 400% 400%;
    -webkit-animation: aaltoilu 25s ease infinite;
            animation: aaltoilu 25s ease infinite;
}
@-webkit-keyframes aaltoilu {
	0% {
		background-position: 20% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 20% 50%;
	}
}
@keyframes aaltoilu {
	0% {
		background-position: 20% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 20% 50%;
	}
}


/*koko sivun juttuja*/
#koko-sivu {
    height: 100vh;
    overflow-y: scroll;
}

.koko-levy{
    width: 100%;
}

/*ylä- ja alaosan erityisjutut*/
.yla-levy {
    background-image: -webkit-gradient(linear,left top, left bottom,color-stop(2%, rgba(0, 0, 0, 0.87)),color-stop(20%, rgba(0, 0, 0, 0.767)), to(rgba(22, 22, 26, 0.00)));
    background-image: -o-linear-gradient(top,rgba(0, 0, 0, 0.87) 2%,rgba(0, 0, 0, 0.767) 20%, rgba(22, 22, 26, 0.00));
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.87) 2%,rgba(0, 0, 0, 0.767) 20%, rgba(22, 22, 26, 0.00));
    padding-top: 0.5em;
    padding-bottom: 1em;
    padding-left: 5px;
    padding-right: 5px;
    height: 3em;
}

.ala-levy {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(15%, rgba(0, 0, 0, 0.767)), to(rgba(22, 22, 26, 0.05)));
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.767) 15%, rgba(22, 22, 26, 0.05));
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.767) 15%, rgba(22, 22, 26, 0.05));
    padding-top: 1em;
    padding-bottom: 0.5em;
    position: fixed;
    bottom: 0;
}

.koko-levy .vahan-keski {
    width: clamp(300px, 98%, 1000px);
    margin: auto;
    color: rgb(245, 245, 245);
    overflow: hidden;
}

/*Navin ja footerin linkkien ulkonäöt sekavasti jaoteltuna*/
.ylanavi, footer{
    text-align: center;
    overflow: hidden;
}

.ylanavi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

a {
    color: #ffffff;
}

footer a, .ylanavi a {
    -webkit-transition: -webkit-transform .7s ease-in-out;
    transition: -webkit-transform .7s ease-in-out;
    -o-transition: transform .7s ease-in-out;
    transition: transform .7s ease-in-out;
    transition: transform .7s ease-in-out, -webkit-transform .7s ease-in-out;
}

.ylanavi a, button.ikoni {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    /*float: left;
    display: block;*/
    padding-left: 7px;
    padding-right: 7px;
}

/*- - - - KIELET - - - - -*/
#kielet, #kielet a{
    font-size: 0.89em;
    display: none;
}

#kielet {
    padding-left: 1.5%;
}

#jalustan-somet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#jalustan-somet {
    margin: 0 10%;
}

.ylanavi a:hover{
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

#jalustan-somet a {
    display: inline-block;
    padding: 5px 15px;
}

#jalustan-somet a:hover {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
}

/*navipalkin responsiivinen hampurilainen*/
.ylanavi button.ikoni {
    display: none;
    border: none;
    background: none;
    color: #ffffff;
    width: 100%;
}


button:hover{
    cursor: pointer;
}

/*kun kapea laite*/
@media screen and (max-width: 600px) {
    .ylanavi a, .ylanavi span {
        display: none;
    }

    .ylanavi button.ikoni {
        display: block;
        float: none;
        margin: auto;
        font-size: 1.2em;
    }

    .ylanavi.responsiivinen {
        display: block;
        position: relative;
        background-color: #01011be1;
    }

    .ylanavi.responsiivinen a, .ylanavi.responsiivinen button.ikoni, .ylanavi.responsiivinen span {
        float: none;
        display: block;
        padding-bottom: 0.4em;
        padding-top: 0.1em;
    }

    .ylanavi.responsiivinen span a {
        display: inline;
        padding-left: 2em;
        padding-right: 2em;
    }

    .ylanavi.responsiivinen a:hover,  .ylanavi.responsiivinen button:hover{
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
        background-color: #070752b4;
        cursor: pointer;
    }
}


/*varsinainen sitältö*/
#aquaWreck-logo {
    display: block;
    max-width: 1000px;
    margin: auto;
}

.kaksi-palstaa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin: auto
}

.palsta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px;
    width: 50%;
    list-style-position: inside;
    text-align: left;
}

/*kuvalinkit ilmaisevat linkkeyttään*/
.kuvan-taus {
    background-color: #ffffffe1;
}

a:hover {
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
a:hover img {
    opacity: .5;
}

a img {
    vertical-align: bottom;
}

#asiat {
    list-style-type: none;
    text-align: justify;
    padding-bottom: 200px;
}

#asiat img {
    width: 100%;
    margin: auto;
}

#sisalto {
    margin: auto;
    padding-left: 4px;
    padding-right: 4px;
    width: clamp(320px, 80%, 900px); /*Onkohan 400px ok?*/
}

ul {
    list-style-type: none;
    text-align: left;
}

li {
    padding-bottom: 0.2em;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 2em;
    padding-bottom: 0.05em;
    margin-bottom: 0.2em;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

h2 {
    font-size: 1.4em;
    padding-bottom: 0.3em;
    text-align: left;
}

h3 {
    font-size: 1.2em;
    padding-bottom: 0.2em;
    text-align: left;
}

p {
    padding-bottom: 0.9em;
}

footer a  {
    font-size: 1.8em;
}

.levy:hover{
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.062)), to(rgba(255, 255, 255, 0.705)));
    background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0.062), rgba(255, 255, 255, 0.705));
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.062), rgba(255, 255, 255, 0.705));
}

.levy:hover .kuuntelulinkit {
    background-color: #1f1e2e4d;
}

.info {
    vertical-align: super;
    border: 1px solid #ffff00;
    font-size: 0.6em;
    padding: 0 1px;
    margin-left: 0.5vw;
}

.info a {
    color: #ffff00;
}

/*Äänitteiden kuuntelut*/
.kuuntelulinkit {
    margin-top: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.5em;
    font-size: 0.7em;
}

.kuuntelulinkit a {
    -webkit-transition: -webkit-transform .7s ease-in-out;
    transition: -webkit-transform .7s ease-in-out;
    -o-transition: transform .7s ease-in-out;
    transition: transform .7s ease-in-out;
    transition: transform .7s ease-in-out, -webkit-transform .7s ease-in-out;
}

.kuuntelulinkit a:hover{
    -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
            transform: scale(1.15);
}

/*Levy-sivu
.levy {
    display: flex;
    flex-wrap: nowrap;
}
.levy .sarake {
    width: 50%;
    margin: 10px;
    list-style-position: inside;
    text-align: left;
}
*/

iframe {
    display: block;
    margin: auto;
    width: clamp(330px, 80%, 950px);
    height: 41.5vw;
    max-height: 534.375px;
    min-height: 208.125px;
    padding-bottom: 10px;
}